<style>
    div.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell, div.ui-grid-cell-contents {
        overflow: inherit;
    }
    .dropdownBottom {
      width: inherit;position:relative;bottom:auto;top:-5px !important;left:15px
    }
    .dropdownTop {
      width: inherit;position:relative;bottom:auto;top:-115px !important;left:15px
    }
</style>
<div class="ui-grid-cell-contents" ng-click = "grid.appScope.changeDropDownPosition(rowRenderIndex)" id="LPFPsearch{{rowRenderIndex}}">
    <div class="dropdown blue-dots table-dropdown" style="position:absolute;">
        <div data-toggle="dropdown" class="table-dropdown-link">
            <!-- <span dropdown-toggle style='z-index:0;'> -->
                <i class="fa fa-ellipsis-v fa-lg color_page" style="color: #0094d9;cursor: pointer;"></i>
                <!-- <i class="fa fa-ravelry" aria-hidden="true"></i> -->
            <!-- </span> -->
        </div>
        <ol class="dropdown-menu" style="padding-left:5px" role="menu" aria-labelledby="single-button"">

            <li role="menuitem" class="listyleAction" ng-click="grid.appScope.removeEmployee(row);">
                <a href="" localize>Delete <i class="fa fa-times" aria-hidden="true"></i></a>
            </li>
            <li role="menuitem" class="listyleAction" data-toggle="modal" data-target="#addEmp" ng-click="grid.appScope.updateEmployeeForm(row);">
                <a href="" localize>Update <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </li>


        </ol>
    </div>
</div>
